<%- include("partials/other_header") -%>      

<body>
    <center><h3>Hi! <%= Username %> ! Your AI-Generated Pictures are ready!</h3></center>
    <br>
    <center><img src="/download/i1.jpg"></center>
    <br>
    <center><a href="/download/i1.jpg" download="i1.jpg">
        <button class="primary-button get-started-btn">Download</button>
    </a></center>
    <br>
    <br>
</body>


<%- include("partials/footer") -%>
