<%- include("partials/header") -%>

<!-- Bug: pricing, resources links doesn't work on checkout and generate page -->
    <!-- header section -->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>AI Headshot Generator</h1>
                <p>Effortlessly create polished and professional headshots for your GitHub, LinkedIn, social media, and beyond.</p>
                <a href="/generate" class="primary-button get-started-btn">Generate</a>
            </div>
            <div class="header-right">
                <img src="/assets2/asset 2.png" alt="hero image">
            </div>
        </div>
    </header>

    <!-- photo section -->

    <section class="companies-section">
        <div class="container">
            <div class="small-bold-text companies-header">AI Generated Headshots for Every Use Case</div>
            <div class="logos flex">
                <img class="hero image" style="width: -webkit-fill-available;" src="/assets2/asset 3.png" alt="">
            </div>
        </div>
    </section>

    <!-- steps section -->

    <section class="features-section">
        <div class="container">
            <div class="features-header">
                <h2 class="features-heading-text">How to Generate Professional Headshots in Seconds</h2>
            </div>
        </div>
    </section>

    <section class="big-feature-section">
        <div class="container flex big-feature-container">
            <div class="feature-img">
                <img src="/assets2/asset 18.png" alt="">
            </div>
            <div class="feature-desc flex">
                <h4>Step 1</h4>
                <br>
                <p>To get started, visit MakeMyDP.ai and navigate to the generate button. Here, you can easily upload a clear front-facing selfie as your input photo. It is crucial to choose a well-lit and high-resolution photo for the best results. The quality of your input photo significantly impacts the final outcome.</p>
            </div>
        </div>
    </section>
    
    <section class="big-feature-section">
        <div class="container flex big-feature-container" id="second-big-feature">
            <div class="feature-img">
                <img src="/assets2/asset 21.png" alt="">
            </div>
            <div class="feature-desc flex">
                <h4>Step 2</h4>
                <br>
                <p>MakeMyDP.ai offers different styles for headshots. You can choose between the “ID Photo” style, which is more formal and suitable for official photo IDs, or the “Portrait of Art” style, which has a slightly more artistic look and is ideal for less formal occasions, such as social media profiles.

                    Additionally, you can select the photo size, such as 1:1, 2:3, or 3:2 ratios, depending on your preferences and the platform where you intend to use the headshot.</p>
            </div>
        </div>
    </section>

    <section class="big-feature-section">
        <div class="container flex big-feature-container">
            <div class="feature-img">
                <img src="/assets2/asset 24.png" alt="">
            </div>
            <div class="feature-desc flex">
                <h4>Step 3</h4>
                <br>
                <p>In this step, you have the opportunity to describe your preferences for the headshot. Consider factors such as the type of headshot, the desired background color, the clothing you would like to wear, and whether you prefer a full body or half body shot. For example, you can specify “blue background, business suit, professional headshot.” By providing clear instructions, MakeMyDP.ai will generate a headshot that aligns with your vision.</p>
            </div>
        </div>
    </section>

    <section class="big-feature-section">
        <div class="container flex big-feature-container" id="second-big-feature">
            <div class="feature-img">
                <img src="/assets2/asset 21.png" alt="">
            </div>
            <div class="feature-desc flex">
                <h4>Step 4</h4>
                <br>
                <p>Once you have uploaded your photo, selected the style, and described your preferences, click the “Generate” button. Within seconds, your professional headshot will be ready. You can download the generated image and use it anywhere you need, such as your professional portfolio, social media profiles, or business cards.

                    Moreover, if you are not satisfied with the initial result, you can modify the original photo or text prompt and regenerate the headshot. This enables you to fine-tune the headshot until it meets your requirements.</p>
            </div>
        </div>
    </section>

    <!-- pricing section -->

    <section id="pricing-section">
        <section class="features-section">
            <div class="features-header">
                <h2 class="features-heading-text">Plans & Pricing</h2>
            </div>
        </section>
        <section class="big-features-section">
            <div class="container2">
                <div class="grid">
                    <div class="card">
                        <h2 class="card_title">Basic</h2>
                        <p class="pricing">20$<span class="small">/per month</span></p>
                        <!-- <p>Save $9</p> -->
                        <hr>
                        <ul class="features">
                            <li>10 images per month.</li>
                            <li>High resolution image download.</li>
                            <li>5 bonus prompts.</li>
                        </ul>
                        <a id="basic" href="/checkout" class="cta_btn">Buy Now</a>
                    </div>
                    <div class="card">
                        <h2 class="card_title">Premium</h2>
                        <p class="pricing">39$<span class="small">/per month</span></p>
                        <!-- <p>Save $15</p> -->
                        <hr>
                        <ul class="features">
                            <li>100 images per month.</li>
                            <li>High resolution image download.</li>
                            <li>10 bonus prompts.</li>
                        </ul>
                         <a id="premium" href="/checkout" class="cta_btn">Buy Now</a>
                    </div>
                    <div class="card">
                        <h2 class="card_title">Enterprise</h2>
                        <p class="pricing">60$<span class="small">/per month</span></p>
                        <!-- <p>Save $25</p> -->
                        <hr>
                        <ul class="features">
                            <li>Unlimited HD images.</li>
                            <li>24/7 customer support.</li>
                            <li>Customized AI prompts.</li>
                        </ul>
                         <a id="enterprise" href="/checkout" class="cta_btn">Buy Now</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- resources section -->

    <section id="resource-section" class="examples-section">
        <div class="container">
            <div class="examples-header flex">
                <h2 class="examples-heading-text">Explore More AI Tools</h2>
            </div>
            <div class="examples-area flex">
                <a class="examples-card" href="#" style="background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets2/asset\ 35.png); background-size: cover;">
                    <h3 class="card-text">Photo to AI Art Generator</h3>
                </a>
                <a class="examples-card" href="#" style="background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets2/asset\ 34.png); background-size: cover;">
                    <h3 class="card-text">Text to AI Image Generator</h3>
                </a>
                <a class="examples-card" href="#" style="background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets2/asset\ 36.png); background-size: cover;">
                    <h3 class="card-text">AI Avatar Generator</h3>
                </a>
                <a class="examples-card" href="#" style="background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets2/asset\ 37.png); background-size: cover;">
                    <h3 class="card-text">AI Photo Editor</h3>
                </a>
            </div>
        </div>
    </section>

    <!-- temp section -->

    <section class="cta-section">
        <div class="container flex cta-section-container">
            <h2>Start using MakeMyDP today</h2>
            <p>And take your photos to the next level!</p>
            <a href="/generate" class="primary-button">Get Started</a>
        </div>
    </section>

    <!-- footer -->

    <%- include("partials/footer") -%>



    

</body>
</html>